page-library {
  #libraryNavigation {
    display: flex;
    flex-direction: row;
    span {
      font-weight: 200;
      font-size: 1.5em;
      text-align: center;
      flex-grow: 1;
      margin-bottom: 10px;
    }
  }
  #libraryContent {
    #recentlyAdded {
      font-size: .8em;
      color: grey;
      right: 20px;
    }
    .item {
      img{
        margin-bottom: -1vh;
        max-width: 100%;
      }
      @include card(1);
    }
  }
  ion-fab {
    bottom: 2vh;
    right: 2vh;
  }
}
